#wiki_page_show {
	.row 					{margin: 0 auto;}
	.row + .row 			{padding-top: 15px;}

	.column 				{float: left;}
	.column + .column 		{margin-left: 2%;}
				
	.column.full 			{width: 100%;}
	.column.three-fourths 	{width: 74.5%;} 	
	.column.two-thirds		{width: 66%;} 
	.column.half 			{width: 49%;} 
	.column.one-third 		{width: 32%;} 
	.column.one-fourth 		{width: 23.5%;}
	
	.container {
		width: 100%;
		padding: 20px 4%;
		box-sizing: border-box;
	}
	
	.content {
		padding: 10px 2%;
		background: #FCFCFC;
		border-radius: 3px;
		border: 1px solid #D3D3D3;
	}
}