// #content is for pages and discussions
#content {
	.row 					{margin: 0 auto;}
	.row + .row 			{padding-top: 15px;}

	.column 				{float: left;}
	.column + .column 		{margin-left: 2%;}
				
	.column.full 			{width: 100%;}
	.column.three-fourths 	{width: 74.5%;} 	
	.column.two-thirds		{width: 66%;} 
	.column.half 			{width: 49%;} 
	.column.one-third 		{width: 32%;} 
	.column.one-fourth 		{width: 23.5%;}
	
	// .caption creates a floated right link caption for images
	.caption {
		a {
			font-size: small;
			display: block;
			text-align: right;
		}
				
		img {max-width: 100% !important;}
				
		p:first-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
		p:last-child {
			margin: 0;
		}
	} // .caption
} // #content

// #wiki_page_show is for pages only
#wiki_page_show {	
	.container {
		width: 100%;
		padding: 20px 4%;
		box-sizing: border-box;
		min-height: 288px;
	}
	
	.content {
		padding: 10px 2%;
		background: #FCFCFC;
		border-radius: 3px;
		border: 1px solid #D3D3D3;
	}
	
	p {
		letter-spacing: .01em;
		line-height: 1.3em;
		word-spacing: 0.05em;
		margin: 10px 0 5px 0;
		font-size: 1.35em;
	}
} // #wiki_page_show